@font-face {
    font-family: 'Slate Pro';
    font-style: normal;
    font-weight: normal;
    src: local('Slate Pro'), url('../font/SlatePro.woff') format('woff');
}
    
    
@font-face {
    font-family: 'Slate Pro Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Slate Pro Medium'), url('../font/SlatePro-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Neue Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue Italic'), url('../font/HelveticaNeueItalic.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica 35 Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 35 Thin'), url('../font/HelveticaNeue-Thin.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica 37 Thin Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 37 Thin Condensed'), url('../font/HelveticaNeue-ThinCond.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica 37 Thin Condensed Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 37 Thin Condensed Oblique'), url('../font/HelveticaNeue-ThinCondObl.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica 33 Thin Extended Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 33 Thin Extended Oblique'), url('../font/HelveticaNeue-ThinExtObl.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica 36 Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 36 Thin Italic'), url('../font/HelveticaNeue-ThinItalic.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica 43 Light Extended';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 43 Light Extended'), url('../font/HelveticaNeue-LightExt.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica 27 Ultra Light Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 27 Ultra Light Condensed'), url('../font/HelveticaNeue-UltraLigCond.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica 23 Ultra Light Extended';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 23 Ultra Light Extended'), url('../font/HelveticaNeue-UltraLigExt.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica 47 Light Condensed Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 47 Light Condensed Oblique'), url('../font/HelveticaNeue-LightCondObl.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica 43 Light Extended Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 43 Light Extended Oblique'), url('../font/HelveticaNeue-LightExtObl.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica 27 Ultra Light Condensed Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 27 Ultra Light Condensed Oblique'), url('../font/HelveticaNeue-UltraLigCondObl.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica 83 Heavy Extended';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 83 Heavy Extended'), url('../font/HelveticaNeue-HeavyExt.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica 53 Extended';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 53 Extended'), url('../font/HelveticaNeue-Extended.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica 85 Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 85 Heavy'), url('../font/HelveticaNeue-Heavy.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica 87 Heavy Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 87 Heavy Condensed'), url('../font/HelveticaNeue-HeavyCond.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica 107 Extra Black Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 107 Extra Black Condensed'), url('../font/HelveticaNeue-ExtBlackCond.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica 57 Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 57 Condensed'), url('../font/HelveticaNeue-Condensed.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica 63 Medium Extended';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 63 Medium Extended'), url('../font/HelveticaNeue-MediumExt.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica 55 Roman';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 55 Roman'), url('../font/HelveticaNeue-Roman.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica 83 Heavy Extended Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 83 Heavy Extended Oblique'), url('../font/HelveticaNeue-HeavyExtObl.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica 87 Heavy Condensed Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 87 Heavy Condensed Oblique'), url('../font/HelveticaNeue-HeavyCondObl.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica 53 Extended Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 53 Extended Oblique'), url('../font/HelveticaNeue-ExtendedObl.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica 107 Extra Black Condensed Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 107 Extra Black Condensed Oblique'), url('../font/HelveticaNeue-ExtBlackCondObl.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica 57 Condensed Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 57 Condensed Oblique'), url('../font/HelveticaNeue-CondensedObl.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica 86 Heavy Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 86 Heavy Italic'), url('../font/HelveticaNeue-HeavyItalic.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica 63 Medium Extended Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 63 Medium Extended Oblique'), url('../font/HelveticaNeue-MediumExtObl.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica 73 Bold Extended';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 73 Bold Extended'), url('../font/HelveticaNeue-BoldExt.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica 73 Bold Extended Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 73 Bold Extended Oblique'), url('../font/HelveticaNeue-BoldExtObl.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica 77 Bold Condensed Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 77 Bold Condensed Oblique'), url('../font/HelveticaNeue-BoldCondObl.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica 93 Black Extended';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 93 Black Extended'), url('../font/HelveticaNeue-BlackExt.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica 95 Black';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 95 Black'), url('../font/HelveticaNeue-Black.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica 93 Black Extended Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 93 Black Extended Oblique'), url('../font/HelveticaNeue-BlackExtObl.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica Neue UltraLight';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue UltraLight'), url('../font/HelveticaNeueUltraLight.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica Neue UltraLight Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue UltraLight Italic'), url('../font/HelveticaNeueUltraLightItal.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica 45 Light';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 45 Light'), url('../font/HelveticaNeue-Light.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica Neue Light';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue Light'), url('../font/HelveticaNeueLight.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica 47 Light Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 47 Light Condensed'), url('../font/Helvetica-47-light-condensed-587ebd7b5a6f6.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica Neue Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue Light Italic'), url('../font/HelveticaNeueLightItalic.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica 46 Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 46 Light Italic'), url('../font/Helvetica-46-light-italic-587ebdb0ea724.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica Neue Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue Medium'), url('../font/HelveticaNeueMedium.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica 67 Medium Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 67 Medium Condensed'), url('../font/HelveticaNeue-MediumCond.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica 65 Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 65 Medium'), url('../font/HelveticaNeue-Medium.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica 67 Medium Condensed Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 67 Medium Condensed Oblique'), url('../font/HelveticaNeue-MediumCondObl.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica Neue Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue Bold'), url('../font/HelveticaNeueBold.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica Neue Condensed Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue Condensed Bold'), url('../font/HelveticaNeueCondensedBold.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica 75 Bold Outline';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 75 Bold Outline'), url('../font/Helvetica-75-bold-outline-587ebe00b76ba.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica Neue Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue Bold Italic'), url('../font/HelveticaNeueBoldItalic.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica 97 Black Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 97 Black Condensed'), url('../font/HelveticaNeue-BlackCond.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica Neue Condensed Black';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue Condensed Black'), url('../font/HelveticaNeueCondensedBlack.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica 97 Black Condensed Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 97 Black Condensed Oblique'), url('../font/HelveticaNeue-BlackCondObl.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica 96 Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 96 Black Italic'), url('../font/HelveticaBlkIt.woff') format('woff');
}