<lib base="clickAnimate">
    <script>
        (function (el, binding) {

            el.style.overflow = 'hidden'
            el.setAttribute('wave-color', binding.value || '#ffffff')
            el.onclick = function (ev) {
                var eff_el = document.createElement('div')
                eff_el.classList.add('click-animate-wave-effect')
                eff_el.style.background = this.getAttribute('wave-color')
                eff_el.style.left = (ev.offsetX) + 'px'
                eff_el.style.top = (ev.offsetY) + 'px'
                var animationEndCallback = function (ev) {
                    var matrix = ev.target.parentNode.getBoundingClientRect()
                    var to_size = (matrix.width > matrix.height ? matrix.width : matrix.height) * 2
                    ev.target.addEventListener('transitionend', ev.target.remove)
                    ev.target.addEventListener('webkitTransitionEnd', ev.target.remove)
                    ev.target.style.width = to_size + 'px'
                    ev.target.style.height = to_size + 'px'
                    ev.target.style.top = (window.parseInt(ev.target.style.top) - (to_size/2)) + 'px'
                    ev.target.style.left = (window.parseInt(ev.target.style.left) - (to_size/2)) + 'px'
                    ev.target.style.opacity = 0
                }
                eff_el.addEventListener('animationend', animationEndCallback)
                eff_el.addEventListener('webkitAnimationEnd', animationEndCallback)
                this.appendChild(eff_el)
            }.bind(el) 
        })
    </script>
</lib>