<module base="lib">
    <module base="component"></module>
    <module base="native"></module>
    <module base="icon"></module>
    <module base="directive"></module>
    <component base="mixin"></component>
</module>