<lib base="barcodeScanner">
    <cordova-plugin-name>
        phonegap-plugin-barcodescanner
    </cordova-plugin-name>
    <script>
        (function () {
            return new Promise(function (resolve, reject) {
                window.cordova.plugins.barcodeScanner.scan(resolve, reject, {
                    preferFrontCamera : false, // iOS and Android
                    showFlipCameraButton : true, // iOS and Android
                    showTorchButton : true, // iOS and Android
                    torchOn: false, // Android, launch with the torch switched on (if available)
                    prompt : "Place a barcode inside the scan area", // Android
                    resultDisplayDuration: 500, // Android, display scanned text for X ms. 0 suppresses it entirely, default 1500
                    disableAnimations : true, // iOS
                    disableSuccessBeep: false // iOS and Android
                })
            })
        })
    </script>
</lib>