<lib base="camera">
    <cordova-plugin-name>
        cordova-plugin-camera
    </cordova-plugin-name>
    <script>
        (function () {
            return window.navigator.camera
        })
    </script>
</lib>