<lib base="db">
    <cordova-plugin-name>
        @nano-sql/adapter-sqlite-cordova
    </cordova-plugin-name>
    <script>
        (function (dbname) {
            this.__tables = []
            this.__dbname = dbname || 'abunawas_pos_db'
            this.__dbsession = null

            this.__proto__.addTable = function (tbl) {
                this.__tables.push(tbl)
            }

            this.__proto__.setTables = function (tbls) {
                this.__tables = tbls
            }

            this.__proto__.connect = function () {
                if (!window.nSQL) {
                    Promise.reject('Plugin nano-SQL not insalled')
                }
                return window.nSQL().connect({
                    id: this.__dbname,
                    mode: window.nSQLadapter.getMode(),
                    tables: this.__tables
                }).then(function () {
                    this.__dbsession = window.nSQL
                    return Promise.resolve(true)
                }.bind(this)).catch(function () {
                    return Promise.reject('failed create connection')
                })
            }

            this.__proto__.query = function (table, query_name, fields) {
                if (!this.__dbsession) {
                    return Promise.reject('no db session')
                }
                if (fields) {
                    return this.__dbsession(table).query(query_name, fields)
                } else {
                    return this.__dbsession(table).query(query_name)
                }
            }
        })
    </script>
</lib>