<lib base="device">
    <cordova-plugin-name>
        cordova-plugin-device
    </cordova-plugin-name>
    <script>
        (function () {
            if (!window.device.uuid) {
                if (!window.localStorage.getItem('device-uuid')) {
                    window.localStorage.setItem('device-uuid', (function() {
                        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                            var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                            return v.toString(16);
                        });
                    })())
                }
                window.device.uuid = window.localStorage.getItem('device-uuid')
            }
            return {
                get information() {
                    return window.device
                },
                get resolution() {
                    return {
                        width: window.innerWidth,
                        height: window.innerHeight
                    }
                }
            }
        })
    </script>
</lib>