<lib base="file">
    <cordova-plugin-name>
        cordova-plugin-file
    </cordova-plugin-name>
    <script>
        (function () {
            // INI BLM SELESAI
            return new (function () {
                this.priv_int_dir = window.cordova.file.dataDirectory
                this.int_cache_dir = window.cordova.file.cacheDirectory
                this.priv_ext_dir = window.cordova.file.externalDataDirectory || window.cordova.file.dataDirectory
                this.ext_cache_dir = window.cordova.file.cacheDirectory || window.cordova.file.cacheDirectory

                this.ext_dir = window.cordova.file.externalRootDirectory || cordova.file.sharedDirectory || this.priv_ext_dir

                this.__proto__.requestCache = function () {
                    return new Promise(function (resolve, reject) {
                        window.requestFileSystem(window.TEMPORARY, 20 * 1024 * 1024, resolve, reject);
                    })
                }

                this.__proto__.requestPresistent = function () {
                    return new Promise(function (resolve, reject) {
                        window.requestFileSystem(window.LocalFileSystem.PERSISTENT, 0, resolve, reject);
                    })
                }

                this.__proto__.requestResource = function (dir) {
                    return new Promise(function (resolve, reject) {
                        window.resolveLocalFileSystemURL(dir, resolve, reject);
                    })
                }

                this.__proto__.createFile = function (dirEntry, fileName) {
                    return new Promise(function (resolve, reject) {
                        dirEntry.getFile(fileName, {create: true, exclusive: false}, resolve, reject);
                    }.bind(this))
                }

                this.__proto__.createDir = function (dirEntry, dirName) {
                    return new Promise(function (resolve, reject) {
                        dirEntry.getDirectory(dirName, {create: true, exclusive: false}, resolve, reject);
                    }.bind(this))
                }

                this.__proto__.writeFile = function (fileEntry, dataObj, isAppend) {
                    return new Promise(function (resolve, reject) {
                        fileEntry.createWriter(function (fileWriter) {
                            fileWriter.onerror = reject
                            fileWriter.onwriteend = function () {
                                resolve(fileEntry.toURL())
                            }
                            if (isAppend) {
                                try {
                                    fileWriter.seek(fileWriter.length);
                                }
                                catch (e) {
                                    console.log("file doesn't exist!");
                                }
                            }
                            fileWriter.write(dataObj)
                        })
                    })
                }

                this.__proto__.b64toblob = function (dataURI, mimetype) {
                    return new Promise(function (resolve, reject) {
                        var BASE64_MARKER = ';base64,';
                        var base64Index = dataURI.indexOf(BASE64_MARKER);
                        var base64 = dataURI.substring(base64Index + BASE64_MARKER.length);
                        var type = dataURI.slice(0, base64Index)
                        if (!type.length) {
                            type = mimetype
                        }

                        var raw = window.atob(base64);
                        var rawLength = raw.length;
                        var array = new Uint8Array(rawLength);
                        for(i = 0; i < rawLength; i++) {
                            array[i] = raw.charCodeAt(i);
                        }
                        
                        resolve(new Blob([array], {type: type}))
                    })
                }

                this.__proto__.createCacheFile = function (filename, data) {
                    return new Promise(function (resolve, reject) {
                        return this.requestCache().then(function (fs) {
                            return this.createFile(fs.root, filename, false).then(function (fileEntry) {
                                return this.writeFile(fileEntry, data).then(resolve).catch(reject)
                            }.bind(this)).catch(reject)
                        }.bind(this)).catch(reject)
                    }.bind(this))
                }

                this.__proto__.createPresistentFile = function (filename, data) {
                    return new Promise(function (resolve, reject) {
                        return this.requestPresistent().then(function (fs) {
                            return this.createFile(fs.root, filename, false).then(function (fileEntry) {
                                return this.writeFile(fileEntry, data).then(resolve).catch(reject)
                            }.bind(this)).catch(reject)
                        }.bind(this)).catch(reject)
                    }.bind(this))
                }
            })()
        })
    </script>
</lib>