<lib base="fileOpener">
    <cordova-plugin-name>
        cordova-plugin-file-opener2
    </cordova-plugin-name>
    <script>
        (function () {
            return window.cordova.plugins.fileOpener2
        })
    </script>
</lib>