<lib base="http">
    <cordova-plugin-name>
        cordova-plugin-advanced-http
    </cordova-plugin-name>
    <script>
        (function () {
            var request_http = function (method, url, params) {
                this._method = method
                this._params = params || {}
                this._url = url
                this.onSuccess = null
                this.onError = null
                this._http = null

                // begin of constructor
                this._params.__uuid = window.device.uuid
                this._params.__device = JSON.parse(JSON.stringify(window.device))
                this._params.auth_type = 'token'
                this._params.token = window.sessionStorage.getItem('token') || (function() {
                        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                            var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                            return v.toString(16);
                        });
                    })()

                var genFormData = function (formdata, key, data) {
                    if (typeof data == 'object') {
                        for(var _attr in data) {
                            if ((!key && key != 0) || !key.toString().length) {
                                genFormData(formdata, _attr, data[_attr])
                            } else {
                                genFormData(formdata, (key || '') + '[' + _attr + ']', data[_attr])
                            }
                        }
                    } else {
                        formdata[key] = data
                    }

                    return formdata
                }

                this._form_data = genFormData({}, '', this._params)

                if (method == 'get') {
                    for (var _attr in this._form_data) {
                        this._url += (this._url.indexOf('?') < 0 ? '?' : '&') + window.encodeURIComponent(_attr) + '=' + window.encodeURIComponent(this._form_data[_attr])
                    }
                }

                // end of constructor
                this.__proto__.then = function (onSuccess, onError) {
                    this.onSuccess = onSuccess
                    this.onError = onError
                    return this.run()
                }.bind(this)

                this.__proto__.run = function() {
                    if (window.device.platform == 'browser') {
                        return this._runBrowser()
                    } else {
                        return this._runNative()
                    }
                }.bind(this)

                this.__proto__._runBrowser = function () {
                    Vue.http({method: this._method, params:  this._params, url: this._url}).then(
                        function (res) {
                            try {
                                this.onSuccess({
                                    status: res.status,
                                    headers: res.headers,
                                    body: res.bodyText
                                })
                            } catch(err) {
                                if (!this.onError) {
                                    throw new Error('Unhandle exception')
                                    return
                                }
                                this.onError({
                                    status: 'parsing error',
                                    headers: null,
                                    body: err
                                })
                            }
                        }.bind(this),
                        function (err) {
                            if (!this.onError) {
                                throw new Error('Unhandle exception')
                                return
                            }
                            this.onError({
                                status: err.status,
                                headers: err.headers,
                                body: err.bodyText
                            })
                        }.bind(this)
                    )
                    return this
                }.bind(this)
                
                this.__proto__._runNative = function () {
                    if (!window.cordova.plugin.http) {
                        throw new Error('No Native HTTP Plugin Founds Fallback to Vue Plugin')
                        return this._runBrowser()
                    }
                    
                    window.cordova.plugin.http.sendRequest(
                        this._url,
                        {method: this._method, data: this._form_data},
                        function (res) {
                            try {
                                this.onSuccess({
                                    status: res.status,
                                    headers: res.headers,
                                    body: res.data
                                })
                            } catch (err) {
                                if (!this.onError) {
                                    throw new Error('Unhandle exception')
                                    return
                                }
                                this.onError({
                                    status: 'parsing error',
                                    headers: null,
                                    body: err
                                })
                            }
                        }.bind(this),
                        function (err) {
                            if (!this.onError) {
                                throw new Error('Unhandle exception')
                                return
                            }
                            this.onError({
                                status: err.status,
                                headers: err.headers,
                                body: err.error
                            })
                        }.bind(this)
                    )
                    return this
                }.bind(this)
            }
            return {
                get: function (url) {
                    return new request_http('get', url)
                },
                post: function (url, params) {
                    return new request_http('post', url, params)
                }
            }
        })
    </script>
</lib>