<lib base="network">
    <cordova-plugin-name>
        cordova-plugin-network-information
    </cordova-plugin-name>
    <script>
        (function () {
            return {
                getType: window.navigator.connection.getInfo,
                onOnline: function (callback) {
                    document.addEventListener("online", callback, false)
                },
                onOffline: function (callback) {
                    document.addEventListener("offline", callback, false)
                },
                connectionType: window.Connection
            }
        })
    </script>
</lib>