<lib base="splashScreen">
    <cordova-plugin-name>
        cordova-plugin-splashscreen
    </cordova-plugin-name>
    <script>
        (function () {
            return window.navigator.splashscreen
        })
    </script>
</lib>