<lib base="statusBar">
    <cordova-plugin-name>
        cordova-plugin-statusbar
    </cordova-plugin-name>
    <script>
        (function () {
            return window.StatusBar
        })
    </script>
</lib>