<module base="icon">
    <icon base="back"></icon>
    <icon base="close"></icon>
    <icon base="menu"></icon>
    <icon base="home"></icon>
    <icon base="account"></icon>
    <icon base="cart"></icon>
    <icon base="mail"></icon>
    <icon base="apps"></icon>
    <icon base="search"></icon>
    <icon base="setting"></icon>
    <icon base="cloudCircle"></icon>
    <icon base="cloudDone"></icon>
    <icon base="logout"></icon>
    <icon base="assessment"></icon>
    <icon base="add"></icon>
    <icon base="remove"></icon>
    <icon base="edit"></icon>
    <icon base="clear"></icon>
    <icon base="camera"></icon>
    <module base="flat-icon"></module>
</module>