<component base="app">
    <template>
        <div class="app">
        </div>
    </template>
    <script>
        ({
            data: {
                
            },
            mounted: function () {
                this.$el.style.display = '-webkit-flex'
                this.$el.style.display = '-ms-flexbox' 
                this.$el.style.display = 'flex' 
                this.$el.classList.add(this.library["lib/native/device"]().information.platform)
            },
            methods: {
            }
        })
    </script>
    <sass>
        .app {
            
        }
    </sass>
</component>