<module base="flat-icon">
    <icon base="cashier"></icon>
    <icon base="product"></icon>
    <icon base="barcode"></icon>
    <icon base="file"></icon>
    <icon base="image"></icon>
    <icon base="video"></icon>
</module>