<icon base="cashier">
    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;" xml:space="preserve">
        <g>
            <g>
                <path d="M511.653,331.974c-0.005-0.026-0.006-0.047-0.012-0.073L469.92,144.006c-1.532-6.9-7.652-11.81-14.721-11.81h-53.042
                    V111.79h50.982c8.327,0,15.079-6.751,15.079-15.078V40.87c0-8.327-6.751-15.079-15.079-15.079H321.017
                    c-8.327,0-15.078,6.751-15.078,15.079v55.841c0,8.327,6.751,15.078,15.078,15.078H372v20.406H271.079v-54.43
                    c0-3.054-0.927-6.035-2.659-8.551L243.018,32.32c-2.814-4.086-7.458-6.528-12.42-6.528c-4.962,0-9.606,2.442-12.42,6.528
                    l-12.982,18.856L192.214,32.32c-2.814-4.086-7.458-6.528-12.42-6.528s-9.606,2.442-12.42,6.528l-12.982,18.856L141.411,32.32
                    c-2.814-4.086-7.458-6.528-12.42-6.528c-4.962,0-9.606,2.442-12.42,6.528L91.169,69.215c-1.732,2.515-2.659,5.497-2.659,8.551
                    v54.43H56.801c-7.068,0-13.188,4.91-14.721,11.81L0.359,331.899c-0.006,0.029-0.008,0.052-0.014,0.081
                    C0.123,333.009,0,334.074,0,335.168v86.784c0,35.43,28.824,64.255,64.254,64.255h383.492c35.43,0,64.254-28.825,64.254-64.255
                    v-86.784C512,334.072,511.876,333.004,511.653,331.974z M336.096,81.633V55.949H438.06v25.684H336.096z M118.668,82.454
                    l10.323-14.994l12.983,18.856c2.814,4.086,7.458,6.528,12.42,6.528c4.962,0,9.606-2.442,12.42-6.528l12.983-18.856l12.983,18.856
                    c2.814,4.086,7.458,6.528,12.42,6.528c4.962,0,9.606-2.442,12.42-6.528l12.982-18.856l10.324,14.994v102.799H118.668V82.454z
                    M68.899,162.352h19.612v37.979c0,8.327,6.751,15.078,15.079,15.078H256c8.327,0,15.079-6.751,15.079-15.078v-37.979h172.023
                    l35.026,157.738H33.872L68.899,162.352z M481.843,421.952c0,18.801-15.296,34.098-34.097,34.098H64.254
                    c-18.801,0-34.097-15.297-34.097-34.098v-71.706h451.686V421.952z"/>
            </g>
        </g>
        <g>
            <g>
                <path d="M293.149,388.07h-74.298c-8.327,0-15.079,6.751-15.079,15.078c0,8.327,6.751,15.079,15.079,15.079h74.298
                    c8.327,0,15.078-6.751,15.078-15.079C308.228,394.821,301.476,388.07,293.149,388.07z"/>
            </g>
        </g>
        <g>
            <g>
                <path d="M286.945,248.522h-14.897c-8.327,0-15.079,6.751-15.079,15.079c0,8.327,6.751,15.079,15.079,15.079h14.897
                    c8.327,0,15.079-6.751,15.079-15.079C302.023,255.273,295.272,248.522,286.945,248.522z"/>
            </g>
        </g>
        <g>
            <g>
                <path d="M211.353,248.522h-14.897c-8.327,0-15.079,6.751-15.079,15.079c0,8.327,6.75,15.079,15.079,15.079h14.897
                    c8.327,0,15.079-6.751,15.079-15.079C226.431,255.273,219.68,248.522,211.353,248.522z"/>
            </g>
        </g>
        <g>
            <g>
                <path d="M135.761,248.522h-14.897c-8.327,0-15.079,6.751-15.079,15.079c0,8.327,6.751,15.079,15.079,15.079h14.897
                    c8.327,0,15.079-6.751,15.079-15.079C150.84,255.273,144.089,248.522,135.761,248.522z"/>
            </g>
        </g>
        <g>
            <g>
                <path d="M387.078,195.684c-8.327,0-15.079,6.751-15.079,15.079v52.838c0,8.327,6.751,15.079,15.079,15.079
                    s15.079-6.751,15.079-15.079v-52.838C402.157,202.435,395.406,195.684,387.078,195.684z"/>
            </g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        </svg>
</icon>