<module base="component">
    <component base="page"></component>
    <component base="card"></component>
    <component base="titleBar"></component>
    <component base="modal"></component>
    <component base="loading"></component>
    <component base="sidebar"></component>
    <component base="alertPop"></component>
    <component base="tabs"></component>
    <component base="tab"></component>
    <component base="tabsButton"></component>
    <component base="tabsContent"></component>
    <component base="icon"></component>
    <component base="list"></component>
    <component base="listItem"></component> 
    <component base="vButton"></component> 
    <component base="vInput"></component> 
    <component base="vMedia"></component> 
    <component base="vTextarea"></component> 
    <component base="navContainer"></component>
    <component base="alertContainer"></component>
    <component base="sectionsContainer"></component>
    <component base="sectionBody"></component>
    <component base="timeline"></component>
    <component base="story"></component>
</module>