<component base="alertContainer">
    <template>
        <div class="alert-container" v-if="alerts && alerts.length">
            <alert-pop v-for="(alrt, index) in alerts" :message="alrt" @close="alerts.pop()"/>
        </div>
    </template>
    <script>
        ({
            data: function () {
                return {
                    alerts: []
                }
            },
            beforeMount: function () {
                this.registerContainer(this.$parent)
            },
            mounted: function () {
                
            },
            methods: {
                registerContainer: function(parent_component) {
                    parent_component._Alert = {
                        push: this.push.bind(this),
                        pop: this.pop.bind(this)
                    }
                },
                push: function (message) {
                    this.alerts.push(message)
                },
                pop: function () {
                    this.alerts.pop()
                }
            }
        })
    </script>
</component>