<component base="alertPop">
    <template>
        <div class="alert-component">
            <div class="alert-content">
                <div class="alert-header">
                    Alert
                </div>
                <div class="alert-body">
                    {{message}}
                </div>
                <div class="alert-footer">
                    <button @click="close()">OK</button>
                </div>
            </div>
            <div class="alert-backdrop"></div>
        </div>
    </template>
    <script>
        ({
            props: ["message", "onClose"],
            data: function () {
                return {}
            },
            methods: {
                close: function() {
                    this.$emit('close')
                } 
            }
        })
    </script>
    <sass>
        .alert-component {
            position: fixed;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            z-index: 1000;
            display: flex;
            .alert-content {
                z-index: 1001;
                width: 100%;
                max-width: 300px;
                display: flex;
                float: none;
                margin: auto;
                background: white;
                flex-direction: column;
                animation: zoom .3s ease;
                .alert-header {
                    font-family: "Slate Pro Medium", Helvetica, sans-serif;
                    font-size: 22pt;
                    color: #282828;
                    padding: 12px 16px;
                    padding-bottom: 0px;
                }
                .alert-body {
                    padding: 12px 16px;
                }
                .alert-footer {
                    padding: 12px 16px;
                    background: #f5f5f5;
                    display: flex;
                    justify-content: flex-end;
                    button {
                        flex: none;
                        font-family: "Slate Pro", Helvetica, sans-serif;
                    }
                }
            }
            .alert-backdrop {
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                background: #000000;
                opacity: .5;
                z-index: 1000;
                animation: fade 1s ease;
            }
        }
    </sass>
</component>