<component base="card">
    <template>
        <div class="card-component">
            <div class="card-title" v-if="title">{{title}}</div>
            <div class="card-content">
                <slot></slot>
            </div>
        </div>
    </template>
    <script>
        ({
            props: ["title"],
            data: function () {
                return {}
            },
            methods: {
                
            }
        })
    </script>
    <sass>
        .card-component {
            background: white;
            border-radius: 5px;
            padding: 12px 16px;
            box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
            flex: none;
            display: block;
            width: 100%;
            overflow: hidden;
            margin-bottom: 16px;
            border: 1px solid #e0e0e0;
            .card-title {
                flex: none;
                display: block;
                font-family: "Slate Pro", sans-serif;
                width: 100%;
                padding-bottom: 12px;
                white-space: normal;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 20px;
                color: #565656;
            }
            .card-content {
                flex: none;
                display: block;
                width: 100%;
            }
        }
    </sass>
</component>