<component base="icon">
    <template>
        <div class="icon" :style="{'fill': color}">
            
        </div>
    </template>
    <script>
        ({
            props: ["name", "color"],
            data: function () {
                return {}
            },
            mounted: function () {
                this.require('lib/icon/' + this.name).then(
                    function (icon) {
                        this.$el.innerHTML = icon.content
                    }.bind(this)
                ).catch(console.log)
            }
        })
    </script>
    <sass>
        .icon {
            width: 100%;
            height: 100%;
            display: inline-block;
            fill: white;
            svg {
                height: 100%;
                width: auto;
            }
        }
    </sass>
</component>