<component base="list">
    <template>
        <div class="list-component">
            <div class="list-title" v-if="title">
                {{title}}
            </div>
            <div class="list-content">
                <slot></slot>
            </div>
        </div>
    </template>
    <script>
        ({
            props: ["title"],
            data: function () {
                return {}
            }
        })
    </script>
    <sass>
        .list-component {
            flex-direction: column;
            flex: none;
            margin-bottom: 12px;
            .list-title {
                padding: 12px;
                border-bottom: 1px solid #e5e5e5;
                font-family: "Slate Pro Medium", sans-serif;
                font-size: 14px;
                text-transform: uppercase;
                color: #454545;
            }
            .list-content {
                flex-direction: column;
                .list-item {
                    flex-direction: row;
                    padding: 8px 12px;
                    background: white;
                    border-bottom: 1px solid #eaeaea;
                    flex-shrink: 0;
                    display: flex;
                    .list-item-icon {
                        padding-right: 12px;
                        width: 48px;
                        flex: none;
                        display: block;
                    }
                    .list-item-content {
                        flex: 1;
                        flex-direction: column;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        h3 {
                            display: block;
                            flex: 1;
                            font-size: 18px;
                            font-family: "Slate Pro", Helvetica, sans-serif;
                            margin: 0px;
                            font-weight: normal;
                            padding-bottom: 6px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                        p {
                            display: block;
                            flex: 1;
                            font-size: 12px;
                            color: #696969;
                            margin: 0px;
                            white-space: nowrap;
                            width: 100%;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
    </sass>
</component>