<component base="listItem">
    <template>
        <div v-if="clickable" @click="$emit('click')" class="list-item" v-click-animate:wave="'#a0a0a0'">
            <div class="list-item-icon" v-if="icon">
                <icon :name="icon" :color="iconColor"></icon>
            </div>
            <div class="list-item-content">
                <slot></slot>
            </div>
        </div>
        <div v-else class="list-item">
            <div class="list-item-icon" v-if="icon">
                <icon :name="icon" :color="iconColor"></icon>
            </div>
            <div class="list-item-content">
                <slot v-slot:content></slot>
            </div>
        </div>
    </template>
    <script>
        ({
            props: ['icon', 'iconColor', 'clickable'],
            data: function () {
                return {}
            }
        })
    </script>
</component>