<component base="loading">
    <template>
        <div class="loading-component" :class="{'scoped': scoped}">
            <div class="loading-content">
                <div class="loading-spinner-container">
                    <div class="loading-spinner"></div>
                </div>
                <div class="loading-message">
                    {{message}}
                </div>
            </div>
            <div class="loading-backdrop">
        </div>
    </template>
    <script>
        ({
            props: ["message", "scoped"],
            data: function () {
                return {

                }
            },
            mounted: function () {
                if (!this.message) {
                    this.message = "Loading ..."
                }
            }
        })
    </script>
    <sass>
        .loading-component {
            position: fixed;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            display: flex;
            &:not(.scoped) {
                z-index: 100;
            }
            &.scoped {
                position: absolute;
            }
            .loading-content {
                background: white;
                box-shadow: 0px 3px 10px rgba(0,0,0,.3);
                width: 90%;
                max-width: 300px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                float: none;
                margin: auto;
                z-index: 101;
                .loading-spinner-container {
                    flex-grow: 0;
                    flex-shrink: 0;
                    height: 64px;
                    width: 64px;
                    padding: 16px;
                    background: white;
                }
                .loading-message {
                    flex: 1;
                    padding: 16px;
                    color: black;
                    vertical-align: middle;
                }
            }
            .loading-backdrop {
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                background: #000000;
                opacity: .5;
                z-index: 100;
                animation: fade 1s ease;
            }
        }
        .loading-spinner {
            width: 32px;
            height: 32px;
            border: 5px solid v($loading-color, #0077BF);
            border-radius: 50%;
            border-top-color: rgba(0,0,0,0.05) !important;
            animation: spin 1s linear infinite;
        }
    </sass>
</component>