<component base="modal">
    <template>
        <div class="modal-component">
            <div class="modal-container">
                <title-bar 
                    :title="title"
                    :disable-back="true"
                    :close-button="true"
                    @close="close()"
                ></title-bar>
                <div class="modal-content">
                    <slot name="modal-content"></slot>
                </div>
                <slot name="modal-content-after"></slot>
            </div>
            <div class="modal-backdrop"></div>
        </div>
    </template>
    <script>
        ({
            props: ["title"],
            data: function () {
                return {
                
                }
            },
            methods: {
                close: function () {
                    this.$el.classList.add("modal-leave-active")
                    this.$el.addEventListener('animationend', this.emitClose.bind(this))
                    this.$el.addEventListener('webkitTransitionEnd', this.emitClose.bind(this))
                },
                emitClose: function (ev) {
                    if (ev.propertyName == 'opacity') {
                        this.$emit('close')
                    }
                }
            }
        })
    </script>
    <sass>
        .modal-component {
            position: fixed;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            width: 100vw;
            height: 100vh;
            z-index: 10;
            .modal-container {
                flex-direction: column;
                width: 100%;
                height: 100%;
                max-width: v($modal-width, none);
                max-height: v($modal-height, none);
                float: none;
                margin: auto;
                background: white;
                z-index: 11;
                animation: zoom-slide .3s ease;
                display: flex;
                flex-direction: column;
                transition: all .3s;
                .modal-content {
                    flex: 1;
                    overflow-y: auto;
                }
            }
            .modal-backdrop {
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                background: #000000;
                opacity: .5;
                z-index: 10;
                animation: fade .3s ease;
                transition: all .3s;
            }
            &.modal-leave-active {
                .modal-backdrop {
                    opacity: 0;
                }
                .modal-container {
                    transform: scale(0.5, 0.5) translate(0%, 50%);
                    opacity: 0;
                }
            }
        }
    </sass>
</component>