<component base="navContainer">
    <template>
        <div class="nav-container-component" :class="{'huge-container': is_huge_container}" v-show="$root._nav._current_nav == id">
            <div class="nav-root-container" v-if="root_page" ref="root_container">
                <component :is="root_page" :params="root_params"></component>
            </div>
            <div class="nav-pages-container" ref="pages_container">
                <component :is="page" :params="params[index]" v-for="(page, index) in pages"></component>
            </div>
        </div>
    </template>
    <script>
        ({
            props: ["id", "preventHuge"],
            data: function () {
                return {
                    pages: [],
                    params: [],
                    root_page: null,
                    root_params: null,
                    is_huge_container: false
                }
            },
            beforeMount: function () {
                if (!this.id) {
                    this.id = 'default'
                }
                this.registerNav()
                window.addEventListener('resize', this.calculateContainerSpace.bind(this))
            },
            updated: function () {
                this.calculateContainerSpace()
            },
            beforeDestroy: function () {
                window.removeEventListener('resize', this.calculateContainerSpace.bind(this))
                delete this.$root._nav[this.id]
            },
            methods: {
                calculateContainerSpace: function () {
                    if (this.$el.offsetWidth >= 768 && !this.preventHuge) {
                        this.is_huge_container = true
                    } else {
                        this.is_huge_container = false
                    }
                },
                registerNav: function () {
                    if (!this.$root._nav) {
                        this.$root._nav = Vue.observable({
                            _current_nav: 'default',
                            switch: function (nav_id) {
                                if (!this[nav_id]) {
                                    throw new Error('Nav id \'' + nav_id + '\' not registered')
                                    return
                                }
                                this._current_nav = nav_id
                            },
                            create: function (id, parent_component) {
                                if (!id || !parent_component || !parent_component.$el) {
                                    throw new Error('Please specify ID and Container Element')
                                    return
                                }
                                var container = parent_component.$el
                                var all_existing_nav = container.getElementsByClassName('nav-container-component')
                                var placeholder_element = document.createElement('div')
                                if (all_existing_nav.length) {
                                    container = all_existing_nav[0].parentNode
                                    var min_step = 0
                                    var _p = container
                                    while (_p != parent_component.$el && _p) {
                                        _p = _p.parentNode
                                        min_step ++
                                    }
                                    for (var _i = 1; _i < all_existing_nav.length; _i++) {
                                        var current_step = 0
                                        _p = all_existing_nav[_i].parentNode
                                        while (_p != parent_component.$el && _p) {
                                            _p = _p.parentNode
                                            current_step ++
                                        }
                                        if (current_step < min_step) {
                                            min_step = current_step
                                            container = all_existing_nav[_i].parentNode
                                        }
                                    }
                                }
                                var nav_component = new (Vue.extend(window.__library['lib/component/navContainer']))({
                                    propsData: {
                                        id: id
                                    }
                                })
                                container.appendChild(placeholder_element)
                                nav_component.$mount(placeholder_element)
                                nav_component.$root = parent_component.$root
                                nav_component.$parent = parent_component
                                parent_component.$root._nav[id] = nav_component

                            },
                            destroy: function (nav_id) {
                                if (!this[nav_id]) {
                                    throw new Error('Nav id \'' + nav_id + '\' not registered')
                                    return
                                }
                                this[nav_id].$el.remove()
                                this[nav_id].$destroy()
                            }
                        })
                    }
                    if (this.$root._nav[this.id]) {
                        throw 'NAV ID ALREADY EXIST, CAN\'T REGISTER NAV'
                        return
                    }
                    this.$root._nav[this.id] = this
                },
                pop: function () {
                    var keeped_page = this.root_page && !this.is_huge_container ? 0 : 1;
                    if (this.pages.length <= keeped_page) {
                        window.history.pushState((keeped_page ? this.params[this.params.length - 1] : this.root_params), (keeped_page ? this.pages[this.pages.length - 1].__identifier : this.root_page.__identifier))
                        return
                    }
                    var last_page = this.$refs.pages_container.children[this.pages.length - 1]
                    if (last_page.getElementsByClassName('modal-container').length) {
                        var last_modal = last_page.getElementsByClassName('modal-component')
                        last_modal = last_modal[last_modal.length - 1]
                        var close_button = last_modal.getElementsByClassName('close-button')
                        if (close_button.length) {
                            close_button[close_button.length - 1].click()
                        }
                        window.history.pushState(this.params[this.params.length - 1], this.pages[this.pages.length - 1].__identifier)
                        return
                    }

                    this.$refs.pages_container.children[this.pages.length - 1].dispatchEvent(new Event('onleave'))
                    if (this.pages.length > 1) {
                        this.$refs.pages_container.children[this.pages.length - 2].__vue__.activate()

                        this.$refs.pages_container.children[this.pages.length - 2].dispatchEvent(new Event('onenter'))
                    } else if (this.root_page) {
                        this.$refs.root_container.children[0].dispatchEvent(new Event('onenter'))
                    }
                    var onAnimationEnd = function (ev) {
                        if (ev.target == this) {
                            this.nav_container.pages.pop()
                            this.nav_container.params.pop()
                        }
                    }.bind(last_page)
                    last_page.nav_container = this
                    last_page.$root = this.$root
                    last_page.classList.add('page-leave-active') 
                    last_page.addEventListener('animationend', onAnimationEnd)
                    last_page.addEventListener('webkitTransitionEnd', onAnimationEnd)
                },
                push: function(component, params) {
                    if (this.pages.length > 0) {
                        this.$refs.pages_container.children[this.$refs.pages_container.children.length - 1].__vue__.deactivate()
                        this.$refs.pages_container.children[this.$refs.pages_container.children.length - 1].dispatchEvent(new Event('onleave'))
                    } else if (this.root_page) {
                        this.$refs.root_container.children[0].dispatchEvent(new Event('onleave'))
                    }
                    this.params.push(params || {})
                    this.pages.push(component)
                    window.history.pushState(JSON.parse(JSON.stringify(params || {})), component.__identifier)
                    Vue.nextTick(function () {
                        var new_page = this.$refs.pages_container.children[this.pages.length - 1]
                        new_page.dispatchEvent(new Event('onenter'))
                        var onAnimationEnd = function (ev) {
                            if (ev.target == this) {
                                this.classList.remove('page-enter-active')
                            }
                        }.bind(new_page)
                        new_page.classList.add('page-enter-active') 
                        new_page.addEventListener('animationend', onAnimationEnd)
                        new_page.addEventListener('webkitTransitionEnd', onAnimationEnd)
                    }.bind(this))
                },
                clear: function () {
                    var slicing_keep = this.root_page && !this.is_huge_container ? 0 : 1
                    this.pages = this.pages.slice(0, slicing_keep)
                    this.params = this.params.slice(0, slicing_keep)
                },
                setRoot: function (component, params) {
                    if (!component) {
                        return
                    }
                    this.root_page = component
                    this.root_params = params || {}
                    Vue.nextTick(function () {
                        this.$refs.root_container.children[0].dispatchEvent(new Event('onenter'))
                    }.bind(this))
                }
            }
        })
    </script>
    <sass>
        .nav-container-component {
            width: 100%;
            height: 100%;
            .nav-root-container {
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                height: 100%;
                width: 100%;
                flex-shrink: 0;
                flex-grow: 0;
                .title-bar {
                    .back-button {
                        display: none;
                    }
                }
            }
            .nav-pages-container {
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                width: 100%;
                height: 100%;
                flex-shrink: 0;
                flex-grow: 0;
                &:empty {
                    display: none;
                }
            }
            &.huge-container {
                display: flex;
                flex-direction: row;
                .nav-root-container {
                    width: 320px;
                    position: relative;
                    .page-component {
                        > div:not(.title-bar) {
                            border-right: 1px solid #e0e0e0;
                        }
                    }
                }
                .nav-pages-container {
                    position: relative;
                    flex: 1;
                    flex-grow: 1;
                    flex-shrink: 1;
                    > div:first-child {
                        .title-bar {
                            .back-button {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    </sass>
</component>