<component base="notificationContainer">
    <template>
        <div class="notification-container-component">
            <div class="notification-element" v-for="notification in messages" @click="(notification.action || function () {})(); notification.close()" v-if="notification.show">
                <div class="notification-message">
                    {{notification.message}}
                </div>
                <div class="notification-close" @click="notification.close($event)">
                    <icon name="close"></icon>
                </div>
            </div>
        </div>
    </template>
    <script>
        ({
            notificationClass: function (message, action, timeout) {
                this.show = true
                this.message = message
                this.timeout = timeout
                this.action = action
                this.timeout_instance = null
                this.close = function (ev) {
                    if (ev) {
                        ev.stopProagation()
                    }
                    this.show = false
                    if (this.timeout_instance) {
                        clearTimeout(this.timeout_instance)
                    }
                }

                if (this.timeout) {
                    this.timeout_instance = setTimeout(this.close.bind(this), this.timeout)
                }
            },
            data: function () {
                return {
                    messages: [] 
                }
            },
            methods: {
                push: function (message, action, timeout) {
                    this.messages.push(Vue.observable(new this.$options.notificationClass(message, action, timeout)))
                }
            }
        })
    </script>
    <sass>
        .notification-container-component {
            position: fixed;
            top: 0px !important;
            left: 0px !important;
            right: 0px !important;
            bottom: auto !important;
            z-index: 10;
            flex: none;
            .notification-element {
                position: absolute;
                top: 8px;
                left: 8px;
                right: 8px;
                padding: 12px;
                font-family: "Slate Pro", sans-serif;
                background: rgba(0,0,0,1);
                border-radius: 5px;
                box-shadow: 1px 1px 15px rgba(0,0,0,.5);
                animation: notification-slide .2s ease-in;
                display: flex;
                flex-direction: row;
                justify-content: center;
                transition: all .2s;
                transform: scale(1);
                &:not(:last-child) {
                    transform: scale(.75);
                    background: #fafafa;
                }
                .notification-message {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    color: white;
                }
                .notification-close {
                    flex: none;
                    .icon {
                        width: 24px;
                        height: 24px;
                        fill: white;
                    }
                }
            }
        }
        @keyframes notification-slide {
            0% {
                transform: translateY(-150%);
            }
            100% {
                transform: translateY(0%);
            }
        }
    </sass>
</component>