<component base="page">
    <template>
        <div class="page-component">
            <title-bar 
                v-if="!titleBarDisabled"
                :title="title"
                :disable-back="(titleBarOption || {}).disableBack"
                :close-button="(titleBarOption || {}).closeButton"
                :sidebar-toggle="(titleBarOption || {}).sidebarToggle"
            >
            </title-bar>
            <slot name="titleBar" v-if="titleBarDisabled"></slot>
            <slot name="page-content-before"></slot>
            <div class="page-content" 
                ref="page_content" 
                @touchstart="pullStartDetector($event)"
                @mousedown="pullStartDetector($event)"
                :style="{'padding': (padding ? '12px': null), 'padding-top': (pull_length > 0 ? (pull_length + 'px') : 'inherit')}"
            >
                <div class="pull-overlay" v-if="pullToRefresh" v-show="pull_length" ref="pull_element" :style="{height: pull_length + 'px'}">
                    <i>Pull to refresh</i>
                </div>
                <slot name="page-content"></slot>
            </div>
            <slot name="page-content-after"></slot>
            <slot name="page-exterior-content"></slot>
            <transition name="page-overlay">
                <div class="page-overlay" v-if="inactive"></div>
            </transition>
        </div>
    </template>
    <script>
        ({
            props: ["title", "titleBarDisabled", "titleBarOption", "inactive", "pullToRefresh", "padding"],
            data: function () {
                return {
                    initial_pull_position: 0,
                    current_pull_position: 0,
                    is_pulling: false
                }
            },
            beforeMount: function () {
                if (!this.titleBarOption) {
                    this.titleBarOption = {}
                }
                this.$parent.activate = this.activate.bind(this)
                this.$parent.deactivate = this.deactivate.bind(this)
            },
            computed: {
                pull_length: function () {
                    var length = (this.current_pull_position - this.initial_pull_position)/3
                    if (length < 0) {
                        length = 0
                    }
                    return length
                }
            },
            watch: {
                is_pulling: function (val, oldVal) {
                    if (val != oldVal) {
                        if (val) {
                            window.addEventListener('mousemove', this.touchMoveHandler.bind(this))
                            window.addEventListener('touchmove', this.touchMoveHandler.bind(this))
                            window.addEventListener('mouseup', this.pullEndHandler.bind(this))
                            window.addEventListener('touchend', this.pullEndHandler.bind(this))
                        } else {
                            window.removeEventListener('mousemove', this.touchMoveHandler.bind(this))
                            window.removeEventListener('mouseup', this.pullEndHandler.bind(this))
                            window.removeEventListener('mouseup', this.pullEndHandler.bind(this))
                            window.removeEventListener('touchend', this.pullEndHandler.bind(this))
                        }
                    }
                }
            },
            methods: {
                deactivate: function () {
                    this.inactive = true
                },
                activate: function () {
                    this.inactive = false
                },
                pullStartDetector: function (ev) {
                    if (this.$refs.page_content.scrollTop > 0 || !this.pullToRefresh || this.is_pulling) {
                        this.initial_pull_position = 0
                        this.current_pull_position = 0
                        return
                    }
                    this.initial_pull_position = ev.pageY || ev.targetTouches[0].pageY
                    this.current_pull_position = ev.pageY || ev.targetTouches[0].pageY
                    this.is_pulling = true
                },
                pullEndHandler: function (ev) {
                    if (!this.is_pulling || !this.pullToRefresh) {

                    }
                    if (this.pull_length > 75) {
                        this.$emit('pull')
                    }
                    this.initial_pull_position = 0
                    this.current_pull_position = 0
                    this.is_pulling = false
                },
                touchMoveHandler: function (ev) {
                    if (!this.is_pulling) {
                        this.initial_pull_position = 0
                        this.current_pull_position = 0
                        return
                    }
                    this.current_pull_position = ev.pageY || ev.targetTouches[0].pageY
                }
            }
        })
    </script>
    <sass>
        .page-component {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            width: 100%;
            height: 100%;
            background: v($page-bg, white);
            &.page-enter-active {
                animation: page-slide .4s ease;
            }
            &.page-leave-active {
                animation: page-slide .2s ease reverse;
            }
            .page-content {
                display: flex;
                flex: 10;
                flex-direction: column;
                overflow: auto;
                padding: v($page-pading, 0px);
                transition: all .1s;
                .pull-overlay {
                    position: absolute;
                    display: flex;
                    flex: none;
                    justify-content: center;
                    flex-direction: column;
                    color: #565656;
                    top: 0px;
                    left: 0px;
                    right: 0px;
                    text-align: center;
                    min-height: 80px;
                    z-index: 0;
                    background: #f5f5f5;
                    i {
                        display: block;
                        flex: none;
                    }
                }
            }
            .page-overlay {
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                background: #141414;
                opacity: .5;
                &.page-overlay-enter-active {
                    animation: fade .2s ease;
                }
                &.page-overlay-leave-active {
                    animation: fade .4s ease reverse;
                }
            }
        }
    </sass>
</component>