<component base="sectionBody">
    <template>
        <div class="section-body">
            <slot></slot>
        </div>
    </template>
    <script>
        ({
            props: ['title'],
            data: function () {
                return {}
            },
            mounted: function () {
                this.registerSection()
            },
            methods: {
                registerSection: function () {
                    var index = 0
                    var currentElement = this.$el
                    while (currentElement.previousElementSibling) {
                        currentElement = currentElement.previousElementSibling
                        index += 1
                    }
                    try {
                        Vue.set(this.$parent.section_buttons, index, (this.title || "no title"))
                    } catch (err) {
                        throw new Error('Please put section-body directly insert sections-container element')
                    }
                }
            }
        })
    </script>
</component>