<component base="sectionsContainer">
    <template>
        <div class="sections-component">
            <div class="sections-button-container">
                <div class="section-button-group">
                    <div class="section-button" 
                        v-for="(btnTitle, index) in section_buttons" 
                        v-click-animate:wave="'rgb(0, 119, 191)'" 
                        @click="current_index = index"
                        :class="{'active': current_index == index}"
                    >
                        <div class="section-button-title">
                            {{btnTitle}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="sections-body-container" ref="sectionBody">
                <slot></slot>
            </div>
        </div>
    </template>
    <script>
        ({
            data: function () {
                return {
                    current_index: 0,
                    section_buttons: []
                }
            },
            watch: {
                current_index: function (val) {
                    if (!this.$refs.sectionBody.children.length) {
                        return
                    }
                    this.$refs.sectionBody.children[0].style.marginLeft = (val * -100) + '%'
                }
            }
        })
    </script>
    <sass>
        .sections-component {
            width: 100%;
            height: 100%;
            flex-direction: column;
            .sections-button-container {
                flex: none;
                padding: 8px 16px;
                padding-top: 16px;
                width: 100%;
                .section-button-group {
                    flex-direction: row;
                    display: flex;
                    width: 100%;
                    .section-button {
                        padding: 6px 12px;
                        flex: 1;
                        flex-shrink: 1;
                        border-top: 1px solid $primary-color;
                        border-bottom: 1px solid $primary-color;
                        border-left: 1px solid $primary-color;
                        &:first-child {
                            border-top-left-radius: 5px;
                            border-bottom-left-radius: 5px;
                        }
                        &:last-child {
                            border-right: 1px solid $primary-color;
                            border-top-right-radius: 5px;
                            border-bottom-right-radius: 5px;
                        }
                        &.active {
                            background: $primary-bg;
                            color: white;
                            border-left: none;
                        }
                        .section-button-title {
                            width: 100%;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            text-align: center;
                            display: block;
                        }
                    }
                }
            }
            .sections-body-container {
                flex: 1;
                white-space: nowrap;
                overflow: hidden;
                .section-body {
                    vertical-align: top;
                    white-space: normal;
                    display: inline-block;
                    flex: none;
                    width: 100%;
                    height: 100%;
                    overflow-y: scroll;
                    transition: margin .2s;
                }
            }
        }
    </sass>
</component>