<component base="sidebar">
    <template>
        <div class="sidebar-component" :class="{'visible': show}">
            <div id="sidebar-toggle" @click="toggleShow()"></div>
            <transition name="sidebar-fade">
                <div class="sidebar-backdrop" v-if="show" @click="toggleShow()"></div>
            </transition>
            <transition name="sidebar-slide">
                <div class="sidebar-container" v-if="show">
                    <div class="sidebar-left-panel"></div>
                    <div class="sidebar-right-panel">
                        <div class="sidebar-menu-container">
                            <slot name="menu-header"></slot>
                            <slot name="menu"></slot>
                        </div>
                    </div>
                </div>
            </transition>
        </div>
    </template>
    <script>
        ({
            props: [],
            data: function () {
                return {
                    show: false
                }
            },
            methods: {
                toggleShow: function () {
                    this.show = !this.show
                }
            }
        })
    </script>
    <sass>
        .sidebar-component {
            width: 0px;
            //height: 100%;
            flex-grow: 0;
            flex-shrink: 0;
            transition: width .2s;
            color: white;
            .sidebar-backdrop {
                position: fixed;
                z-index: 1000;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                background: #000000;
                opacity: .5;
                &.sidebar-fade-enter-active {
                    animation: fade .5s ease;
                }
                &.sidebar-fade-leave-active {
                    animation: fade .5s ease reverse;
                }
            }
            .sidebar-container {
                position: fixed;
                z-index: 1002;
                top: 0px;
                left: 0px;
                bottom: 0px;
                display: flex;
                flex-direction: row;
                width: v($sidebar-width, 280px);
                height: 100vh;
                overflow-y: auto;
                overflow-x: hidden;
                background: v($sidebar-bg, #343434);
                color: v($sidebar-color, #ffffff);
                &.sidebar-slide-enter-active {
                    animation: sidebar-slide .2s;
                }
                &.sidebar-slide-leave-active {
                    animation: sidebar-slide .2s reverse;
                }
                .sidebar-left-panel {
                    flex-grow: 0;
                    flex-shrink: 0;
                    width: 50px;
                    background: rgba(0,0,0,.2);
                }
                .sidebar-right-panel {
                    height: 100%;
                    width: v($sidebar-width, 280px);
                    margin-left: -50px;
                    padding-left: 50px;
                    overflow-y: auto;
                    overflow-x: hidden;
                    .sidebar-menu-container {
                        flex: 1;
                        background: v($sidebar-bg, #343434);
                        flex-direction: column;
                        .sidebar-menu-header {
                            padding: 16px;
                            flex-direction: column;
                            flex-shrink: 0;
                        }
                        .sidebar-menu {
                            flex-grow: 0;
                            flex-shrink: 0;
                            height: 56px;
                            width: v($sidebar-width, 280px);
                            display: flex;
                            flex-direction: row;
                            margin-left: -50px;
                            cursor: pointer;
                            .menu-icon {
                                flex-grow: 0;
                                flex-shrink: 0;
                                width: 50px;
                                padding: 16px 13px;
                                img {
                                    width: 24px;
                                    height: 24px; 
                                }
                            }
                            .menu-title {
                                flex: 1;
                                padding: 16px;
                                color: white;
                                font-family: "Slate Pro", Helvetica, Arial, sans-serif;
                                font-size: 18px;
                                line-height: 24px;
                                vertical-align: middle;
                                padding-left: 66px;
                            }
                            .menu-icon + .menu-title {
                                padding-left: 16px;
                            }
                        }
                    }
                }
            }
        } 
    </sass>
</component>