<component base="story">
    <template>
        <div class="story-component">
            <div class="dot-container">
                <div class="dot" :style="{'background': dotColor || '#969696'}"></div>
                <div class="dot-title">
                    {{dotTitle}}
                </div>
            </div>
            <div class="story-container">
                <slot></slot>
            </div>
        </div>
    </template>
    <script>
        ({
            props: ['dotColor', "dotTitle"],
            data: function () {
                return {

                }
            },
            mounted: function () {},
            methods: {
            }
        })
    </script>
</component>