<component base="tab">
    <template>
        <div class="tabs-content" :tid="id" v-show="id == tabs.current_id">
            <slot v-if="id == tabs.current_id"></slot>
        </div>
    </template>
    <script>
        ({
            props: ["id", "index", "btnActiveColor", "btnTitle", "btnIcon"],
            data: function () {
                return {
                    tabs: null
                }
            },
            beforeMount: function () {
                this.registerButton()
            },
            methods: {
                registerButton: function () {
                    var btnConfig = {
                        title: this.btnTitle,
                        icon: this.btnIcon,
                        activeColor: this.btnActiveColor,
                        id: this.id
                    }
                    this.tabs = this.$parent
                    while(this.tabs != this.$root && !this.tabs.tabButton) {
                        this.tabs = this.tabs.$parent
                    }
                    if (!this.tabs.tabButton) {
                        throw new Error('Failed initiate button, please make sure tab component inside tabs component')
                        return
                    }
                    Vue.set(this.tabs.tabButton, this.index, btnConfig)
                }
            }
        })  
    </script>
</component>