<component base="tabs">
    <template>
        <div class="tabs" :class="{'standalone': standalone}">
            <div class="tabs-menu" :class="{'overflow': overflow, 'bottom': bottomMenu}">
                <tabs-button v-for="(btn, index) in tabButton" :id="btn.id" :icon="btn.icon" :title="btn.title" :active-color="btn.activeColor" :class="{'active': current_id == btn.id}">
                </tabs-button>
            </div>
            <div class="tabs-body" ref="tabBody"></div>
        </div>
    </template>
    <script>
        ({
            props: ["overflow", "bottomMenu", "standalone", "childComponents"],
            data: function () {
                return {
                    tabButton: [],
                    current_id: null
                }
            },
            onEnter: function () {
                var tab_pages = this.$refs.tabBody.children
                for (var _i = 0 ; _i < tab_pages.length; _i++) {
                    if (tab_pages[_i].attributes.tid.value == this.current_id) {
                        tab_pages[_i].dispatchEvent(new Event('onenter'))
                    }
                }
            },
            onLeave: function () {
                var tab_pages = this.$refs.tabBody.children
                for (var _i = 0 ; _i < tab_pages.length; _i++) {
                    if (tab_pages[_i].attributes.tid.value == this.current_id) {
                        tab_pages[_i].dispatchEvent(new Event('onleave'))
                    }
                }
            },
            mounted: function () {
                if (this.childComponents) {
                    Vue.nextTick(this.decorateChildren.bind(this))
                }
            },
            methods: {
                selectTab: function (tid) {
                    if (tid == this.current_id) {
                        return
                    }
                    var tab_pages = this.$refs.tabBody.children
                    for (var _i = 0 ; _i < tab_pages.length; _i++) {
                        if (tab_pages[_i].attributes.tid.value == this.current_id) {
                            tab_pages[_i].dispatchEvent(new Event('onleave'))
                        }
                        if (tab_pages[_i].attributes.tid.value == tid) {
                            tab_pages[_i].dispatchEvent(new Event('onenter'))
                        }
                    }
                    this.current_id = tid
                },
                decorateChildren: function () {
                    if (!this.childComponents) {
                        return
                    }
                    this.childComponents.forEach(function (com, index) {
                        var component = new (Vue.extend(com))({
                            propsData: {
                                index: index
                            }
                        })
                        
                        component.$root = this.$root
                        component.$parent = this
                        component.$mount()
                        this.$refs.tabBody.appendChild(component.$el)
                    }.bind(this))
                    this.selectTab(this.$refs.tabBody.children[0].attributes.tid.value)
                }
            }
        })  
    </script>
    <sass>
        .tabs {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            flex: 1;
            &.standalone {
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                background: white;
            }
            .tabs-menu {
                height: v($tabs-height, 48px);
                flex-grow: 0;
                flex-shrink: 0;
                display: flex;
                flex-direction: row;
                border-bottom: 1px solid #f0f0f0;
                background: #fafafa;
                &.bottom {
                   order: 2;
                   border-bottom: none;
                   border-top: 1px solid #f0f0f0;
                   .tabs-button {
                       top: -1px;
                       bottom: 0px;
                       border-bottom: none;
                       border-top: 3px solid transparent;
                   }
                }
                &.overflow {
                    display: block;
                    white-space: nowrap;
                    overflow-x: auto;
                    .tabs-button {
                        display: inline-block;
                    }
                }
                .tabs-button {
                    text-align: center;
                    flex: 1;
                    padding: 4px 16px;
                    border-bottom: 3px solid transparent;
                    flex-direction: column;
                    transition: all .3s;
                    bottom: -1px;
                    top: 0px;
                    &:not(.active) {
                        filter: grayscale(100%);
                        border-color: transparent !important;
                    }
                    &.active {
                        border-color: $primary-color;
                    }
                    .tabs-button-icon {
                        height: v($tabs-height, 48px) - 24px;
                        flex-grow: 0;
                        flex-shrink: 0;
                        float: none;
                        margin: auto;
                    }
                    .tabs-button-title {
                        flex-grow: 1;
                        flex-shrink: 0;
                        width: 100%;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        text-align: center;
                        display: block;
                        text-transform: uppercase;
                        height: 24px;
                        font-size: 14px;
                        line-height: 24px;
                        padding: 8px 0px;
                        font-family: "Slate Pro Medium", Helvetica, sans-serif;
                    }
                    .tabs-button-icon + .tabs-button-title {
                        height: 8px;
                        font-size: 10px;
                        padding: 0px;
                        line-height: 8px;
                        height: 10px;
                    }
                }
            }
            .tabs-body {
                flex: 1;
                overflow-y: auto;
                width: 100%;
                .tabs-content {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    </sass>
</component>