<component base="tabsButton">
    <template>
        <div class="tabs-button" v-click-animate:wave="'rgb(0, 119, 191)'" @click="btnClick" :tid="id" :style="{'border-color': activeColor}">
            <div class="tabs-button-icon" v-if="icon">
                <icon :name="icon" :color="activeColor"></icon>
            </div>
            <div class="tabs-button-title" v-if="title" :style="{'color': activeColor}">
                {{title}}
            </div>
        </div>
    </template>
    <script>
        ({
            props: ["id", "title", "icon", "activeColor"],
            data: function () {
                return {
                }
            },
            methods: {
                btnClick: function() {
                    this.$parent.selectTab(this.id)
                }
            }
        })  
    </script>
</component>