<component base="tabsContent">
    <template>
        <div class="tabs-content" :tid="id" v-if="id == $parent.current_id">
            <slot></slot>
        </div>
    </template>
    <script>
        ({
            props: ["id"],
            data: function () {
                return {
                }
            }
        })  
    </script>
</component>