<component base="timeline">
    <template>
        <div class="timeline-component">
            <slot></slot>
        </div>
    </template>
    <script>
        ({
            data: function () {
                return {

                }
            }
        })
    </script>
    <sass>
        .timeline-component {
            width: 100%;
            .story-component {
                padding: 0px 6px;
                display: flex;
                flex-direction: row;
                &:last-child {
                    .dot-container {
                        border: none;
                    }
                }
                .dot-container {
                    width: 56px;
                    border-left: 1px solid #e0e0e0;
                    .dot {
                        margin-left: -7px;
                        width: 14px;
                        height: 14px;
                        border-radius: 50%;
                    }
                    .dot-title {
                        font-size: 12px;
                        color: #696969;
                        padding: 4px;
                        margin-bottom: 24px;
                    }
                }
                .story-container {
                    flex: 1;
                    background: white;
                    padding: 8px 12px;
                    border: 1px solid #eaeaea;
                    box-shadow: 1px 1px 10px rgba(0,0,0,.05);
                    border-radius: 5px;
                    margin-bottom: 24px;
                    height: 100%;
                    .story-title {
                        font-size: 18px;
                        font-family: "Slate Pro", sans-serif;
                        color: #282828;
                        margin-bottom: 8px;
                    }
                    .story-content {
                        line-height: 1.5;
                        color: #565656;
                        font-size: 12px;
                    }
                }
            }
        }
    </sass>
</component>