<component base="titleBar">
    <template>
        <div class="title-bar">
            <div class="title-bar-component" :class="{'flat': flat}">
                <div class="title-bar-button back-button" v-if="!disableBack" @click="back()" v-click-animate:wave="'white'">
                    <icon name="back"></icon>
                </div>
                <div class="title-bar-button" v-if="sidebarToggle" @click="toggleSidebar()" v-click-animate:wave="'white'">
                    <icon name="menu"></icon>
                </div>
                <slot name="start"></slot>
                <div class="title-bar-content">
                    {{title}}
                </div>
                <slot name="end"></slot>
                <div class="title-bar-button close-button" v-if="closeButton" @click="close()" v-click-animate:wave="'white'">
                    <icon name="close"></icon>
                </div>
            </div>
        </div>
    </template>
    <script>
        ({
            props: ["title", "disableBack", "flat", "sidebarToggle", "closeButton"],
            data: function () {
                return {
                
                }
            },
            methods: {
                back: function () {
                    window.history.back()
                },
                close: function () {
                    this.$emit('close')
                }
            }
        })  
    </script>
    <sass>
        .title-bar {
            flex: none;
            display: flex;
            flex-direction: column;
            padding-bottom: 1px;
            .title-bar-component {
                flex-grow: 0;
                flex-shrink: 0;
                display: flex;
                flex-direction: row;
                background: v($title-bar-bg, linear-gradient(to bottom, #00A2DA, #0077BF));
                color: v($title-bar-color, white); 
                height: v($title-bar-height, 56px);
                box-shadow: 0px 3px 10px rgba(0,0,0,.3);
                border-bottom: 1px solid rgba(0,0,0,.1);
                &.flat {
                    box-shadow: none !important;
                }
                .title-bar-button {
                    padding: (v($title-bar-height, 56px) - 24px)/2;
                    width: v($title-bar-height, 56px);
                    height: v($title-bar-height, 56px);
                    flex-shrink: 0;
                    flex-grow: 0;
                    cursor: pointer;
                    .icon svg{
                        fill: $title-bar-color;
                    }
                    > div {
                        width: 24px;
                        height: 24px;
                        background-size: cover;
                        background-position: center center;
                        background-repeat: no-repeat;
                    }
                    > img {
                        width: 24px;
                        height: 24px;
                    }
                }
                .title-bar-content {
                    flex: 1;
                    padding: (v($title-bar-height, 56px) - 24px)/2;
                    font-size: 22px;
                    line-height: 24px;
                    font-family: $title-bar-font;
                }
            }
        }
    </sass>
</component>