<component base="vButton">
    <template>
        <button style="position: relative" @click="$emit('click')" v-click-animate:wave>
            <slot></slot>
        </button>
    </template>
    <script>
        ({
            data: function () {
                return {
                    
                }
            }
        })
    </script>
</component>