<component base="vInput">
    <template>
        <div class="v-input-component" :style="{'margin': noMargin ? '0px' : null}">
            <div class="v-input-title" v-if="title">
                {{title}}
            </div>
            <div class="v-input-group">
                <input class="v-input-field" :type="type || 'text'" :placeholder="placeholder" v-model="input_model" :style="{'padding-right': ((btn_after_length * 32) + 12) + 'px'}"/>
                <div class="v-input-btn-after" ref="btn_after">
                    <slot name="button-after"></slot>
                </div>
            </div>
        </div>
    </template>
    <script>
        ({
            props: ['title', 'value', 'placeholder', 'type', "noMargin"],
            data: function () {
                return {
                    input_model: null
                }
            },
            watch: {
                input_model: function (val) {
                    if (val != this.value) {
                        this.$emit('change', val)
                    }
                },
                value: function (val) {
                    this.input_model = val
                }
            },
            computed: {
                btn_after_length: function () {
                    return (this.$refs.btn_after || document.createElement('div')).children.length
                }
            },
            mounted: function () {
                this.input_model = this.value
            }
        })
    </script>
    <sass>
        .v-input-component {
            width: 100%;
            flex: none;
            margin-bottom: 12px;
            .v-input-title {
                font-family: "Slate Pro Medium", sans-serif;
                margin-bottom: 4px;
                color: #565656;
                font-size: 14px;
                padding: 0px 4px;
            }
            .v-input-group {
                display: flex;
                flex-direction: row;
                .v-input-field {
                    flex: 1;
                }
                .v-input-btn-after {
                    flex: none;
                    display: flex;
                    flex-direction: row;
                    height: 32px;
                }
            }
        }
    </sass>
</component>