<component base="vMedia">
    <template>
        <div class="v-media-component">
            <div class="v-media-title">
                {{title}}
            </div>
            <div class="v-media-field" :class="{'loading': is_load_file}">
                <div class="v-media-data" v-for="(media, index) in input_model" @click="openMedia(index)">
                    <icon :name="'flat-icon/' + getType(media)"></icon>
                    <div class="remove-btn" @click="deleteMedia(index, $event)" v-if="!lock">
                        <icon name="remove" color="#ffffff"></icon>
                    </div>
                </div>
                
                <div class="v-media-add-btn" v-if="!lock">
                    <div class="add-from-file" @click="addMedia" >
                        <icon name="add"></icon>
                    </div>
                    <div class="add-from-camera" @click="addMediaFromCamera">
                        <icon name="camera"></icon>
                    </div>
                </div>
                <div class="v-media-load-file-backdrop">
                    <div class="loading-spinner"></div>
                </div>
                <loading message="Opening media ..." v-if="opening_media_loading"></loading>
            </div>
        </div>
    </template>
    <script>
        ({
            props: ['title', 'value', 'type', 'lock'],
            data: function () {
                return {
                    input_model: [],
                    is_load_file: false,
                    media_type: {
                        image: ["image/jpeg", "image/aces","image/avci","image/avcs","image/bmp","image/cgm","image/dicom-rle","image/emf","image/example","image/fits","image/g3fax","image/heic","image/heic-sequence","image/heif","image/heif-sequence","image/jls","image/jp2","image/jpm","image/jpx","image/naplps","image/png","image/prs.btif","image/prs.pti","image/pwg-raster","image/t38","image/tiff","image/tiff-fx","image/vnd.adobe.photoshop","image/vnd.airzip.accelerator.azv","image/vnd.cns.inf2","image/vnd.dece.graphic","image/vnd.djvu","image/vnd.dwg","image/vnd.dxf","image/vnd.dvb.subtitle","image/vnd.fastbidsheet","image/vnd.fpx","image/vnd.fst","image/vnd.fujixerox.edmics-mmr","image/vnd.fujixerox.edmics-rlc","image/vnd.globalgraphics.pgb","image/vnd.microsoft.icon","image/vnd.mix","image/vnd.ms-modi","image/vnd.mozilla.apng","image/vnd.net-fpx","image/vnd.radiance","image/vnd.sealed.png","image/vnd.sealedmedia.softseal.gif","image/vnd.sealedmedia.softseal.jpg","image/vnd.svf","image/vnd.tencent.tap","image/vnd.valve.source.texture","image/vnd.wap.wbmp","image/vnd.xiff","image/vnd.zbrush.pcx","image/wmf","image/emf","image/wmf"],
                        video: ["video/1d-interleaved-parityfec","video/3gpp","video/3gpp2","video/3gpp-tt","video/BMPEG","video/BT656","video/CelB","video/DV","video/encaprtp","video/example","video/H261","video/H263","video/H263-1998","video/H263-2000","video/H264","video/H264-RCDO","video/H264-SVC","video/H265","video/iso.segment","video/JPEG","video/jpeg2000","video/mj2","video/MP1S","video/MP2P","video/MP2T","video/mp4","video/MP4V-ES","video/MPV","video/mpeg4-generic","video/nv","video/ogg","video/pointer","video/quicktime","video/raptorfec","video/rtp-enc-aescm128","video/rtploopback","video/rtx","video/smpte291","video/SMPTE292M","video/ulpfec","video/vc1","video/vc2","video/vnd.CCTV","video/vnd.dece.hd","video/vnd.dece.mobile","video/vnd.dece.mp4","video/vnd.dece.pd","video/vnd.dece.sd","video/vnd.dece.video","video/vnd.directv.mpeg","video/vnd.directv.mpeg-tts","video/vnd.dlna.mpeg-tts","video/vnd.dvb.file","video/vnd.fvt","video/vnd.hns.video","video/vnd.iptvforum.1dparityfec-1010","video/vnd.iptvforum.1dparityfec-2005","video/vnd.iptvforum.2dparityfec-1010","video/vnd.iptvforum.2dparityfec-2005","video/vnd.iptvforum.ttsavc","video/vnd.iptvforum.ttsmpeg2","video/vnd.motorola.video","video/vnd.motorola.videop","video/vnd.mpegurl","video/vnd.ms-playready.media.pyv","video/vnd.nokia.interleaved-multimedia","video/vnd.nokia.mp4vr","video/vnd.nokia.videovoip","video/vnd.objectvideo","video/vnd.radgamettools.bink","video/vnd.radgamettools.smacker","video/vnd.sealed.mpeg1","video/vnd.sealed.mpeg4","video/vnd.sealed.swf","video/vnd.sealedmedia.softseal.mov","video/vnd.uvvu.mp4","video/vnd.vivo","video/VP8"]
                    },
                    file: null,
                    fileOpener: null,
                    opening_media_loading: false
                }
            },
            watch: {
                input_model: function (val) {
                    if (val != this.value) {
                        this.$emit('change', val)
                        console.log(val)
                    }
                }
            },
            mounted: function () {
                this.input_model = this.value || []
                this.file = this.library.lib.native.file()
                this.fileOpener = this.library.lib.native.fileOpener()
            },
            methods: {
                getType: function (data) {
                    if (this.media_type.image.indexOf(data.type) >= 0) {
                        return 'image'
                    }
                    if (this.media_type.video.indexOf(data.type) >= 0) {
                        return 'video'
                    }
                    return 'file'
                },
                openMedia: function (index) {
                    this.opening_media_loading = true
                    var data = this.input_model[index]
                    return this.fileOpener.open(data.uri, data.type, {
                        error: function () {this.opening_media_loading = false; this.$alert('Failed open file')}.bind(this),
                        success: function () {this.opening_media_loading = false}.bind(this),
                    })
                },
                deleteMedia: function (index, ev) {
                    this.input_model.splice(index, 1)
                    ev.stopPropagation()
                },
                addMediaFromCamera: function () {
                    this.is_load_file = true
                    var camera_promise = new Promise(function (resolve, reject) {
                        this.library.lib.native.camera().getPicture(resolve, reject, {destinationType: 0, encodingType: 1})
                    }.bind(this))
                    
                    camera_promise.then(function(data) {
                        var result = {
                            type: "image/png",
                            title: (function() {
                                    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                                        var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                                        return v.toString(16);
                                    });
                                })() + '.png',
                            uri: 'data:image/png;base64,' + data
                        }
                        this.file.b64toblob(result.uri, result.type).then(function (file_obj) {
                            this.file.requestResource(this.file.priv_ext_dir).then(
                                function (dirEntry) {
                                    this.file.createFile(dirEntry, result.title).then(
                                        function (fileEntry) {
                                            this.file.writeFile(fileEntry, file_obj).then(
                                                function (uri) {
                                                    this.is_load_file = false
                                                    result.uri = uri
                                                    Vue.set(this.input_model, this.input_model.length, result)
                                                }.bind(this)
                                            ).catch(function (err) { 
                                                this.is_load_file = false
                                                this.$alert(err)
                                            }.bind(this))
                                        }.bind(this)
                                    ).catch(function (err) { 
                                        this.is_load_file = false
                                        this.$alert(err)
                                    }.bind(this))
                                }.bind(this)
                            ).catch(function (err) { 
                                this.is_load_file = false
                                this.$alert(err)
                            }.bind(this))
                        }.bind(this)).catch(function (err) { 
                            this.is_load_file = false
                            this.$alert(err)
                        }.bind(this))
                    }.bind(this)).catch(function (err) { 
                        this.is_load_file = false
                        this.$alert(err)
                    }.bind(this))
                },
                addMedia: function () {
                    this.is_load_file = true
                    this.chooseFile().then(function (data) {
                        Vue.set(this.input_model, this.input_model.length, data)
                        this.is_load_file = false
                    }.bind(this)).catch(function (err) {
                        if (err) {
                            this.$alert(err)
                        }
                        this.is_load_file = false
                    }.bind(this))
                },
                chooseFile: function () {
                    return new Promise(function (resolve, reject) {
                        var input = document.createElement('input')
                        var data = {}
                        input.type = 'file'
                        input.onchange = function (ev) {
                            var file_obj = ev.target.files[0]
                            if (file_obj.size > (15 * 1024 * 1024)) {
                                reject('File too large, file size must be under 15 MB')
                                return
                            }

                            data.title = (function() {
                                    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                                        var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                                        return v.toString(16);
                                    });
                                })() + "." + file_obj.name.split('.')[file_obj.name.split('.').length - 1]
                            data.type = file_obj.type
                            
                            this.file.requestResource(this.file.priv_ext_dir).then(
                                function (dirEntry) {
                                    this.file.createFile(dirEntry, data.title).then(
                                        function (fileEntry) {
                                            this.file.writeFile(fileEntry, file_obj).then(
                                                function (uri) {
                                                    data.uri = uri
                                                    resolve(data)
                                                }
                                            ).catch(reject)
                                        }.bind(this)
                                    ).catch(reject)
                                }.bind(this)
                            ).catch(reject)
                        }.bind(this)
                        var on_picker_cancel = function (ev) {
                            window.removeEventListener('focus', on_picker_cancel)
                            reject(null)
                        }
                        window.addEventListener('focus', on_picker_cancel)
                        input.click()
                    }.bind(this))
                }
            }
        })
    </script>
    <sass>
        .v-media-component {
            width: 100%;
            flex: none;
            margin-bottom: 12px;
            .v-media-title {
                font-family: "Slate Pro Medium", sans-serif;
                margin-bottom: 4px;
                color: #565656;
                font-size: 14px;
                padding: 0px 4px;
            }
            .v-media-field {
                width: 100%;
                padding: 8px;
                background: white;
                border: 1px solid #e0e0e0;
                &.loading {
                    overflow: hidden;
                    .v-media-load-file-backdrop {
                        display: flex;
                    }
                }
                .v-media-load-file-backdrop {
                    background: rgba(200,200,200,.5);
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                    justify-content: center;
                    display: none;
                    transition: all .3s;
                    .loading-spinner {
                        float: none;
                        margin: auto;
                    }
                }
                .v-media-add-btn {
                    display: flex;
                    flex-direction: row;
                    .add-from-file, .add-from-camera{
                        padding: 10px;
                        margin: 2px;
                        background: #fafafa;
                        border: 1px dashed #eaeaea;
                        display: flex;
                        flex: 1;
                        justify-content: center;
                        vertical-align: top;
                        cursor: pointer;
                        transition: all .3s;
                    }
                    .icon {
                        fill: #696969;
                        width: 24px;
                        height: 24px;
                    }
                }
                .v-media-data {
                    padding: 4px;
                    background: #fafafa;
                    border: 1px solid #eaeaea;
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 12px;
                    margin-bottom: 12px;
                    transition: all .3s;
                    > .icon {
                        height: 40px;
                        width: 40px;
                        fill: #696969;
                    }
                    .remove-btn {
                        width: 16px;
                        height: 16px;
                        background: red;
                        box-shadow: 1px 1px 5px rgba(0,0,0,.3);
                        position: absolute;
                        top: -8px;
                        right: -8px;
                        border-radius: 8px;
                        cursor: pointer;
                    }
                }
            }
        }
    </sass>
</component>