<component base="vTextarea">
    <template>
        <div class="v-textarea-component">
            <div class="v-textarea-title">
                {{title}}
            </div>
            <textarea class="v-textarea-field" :placeholder="placeholder" v-model="input_model" rows=5></textarea>
        </div>
    </template>
    <script>
        ({
            props: ['title', 'value', 'placeholder'],
            data: function () {
                return {
                    input_model: null
                }
            },
            watch: {
                input_model: function (val) {
                    if (val != this.value) {
                        this.$emit('change', val)
                    }
                }
            },
            mounted: function () {
                this.input_model = this.value
            }
        })
    </script>
    <sass>
        .v-textarea-component {
            width: 100%;
            flex: none;
            margin-bottom: 12px;
            .v-textarea-title {
                font-family: "Slate Pro Medium", sans-serif;
                margin-bottom: 4px;
                color: #565656;
                font-size: 14px;
                padding: 0px 4px;
            }
            .v-textarea-field {
                width: 100%;
            }
        }
    </sass>
</component>