.click-animate-wave-effect {
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 5px;
    opacity: .5;
    transition: all .5s;
    animation: initial-click-animate-wave-effect .01s; 

    @keyframes initial-click-animate-wave-effect {
        0% {
            transform: scale(0, 0);
        }
        100% {
            transform: scale(1, 1);
        }
    }
}