.Android {
    @media screen and (min-width: 768px) {
        .modal-component {
            .modal-container {
                max-width: 400px;
                max-height: 600px;
                border-radius: 10px;
                overflow: hidden;
                box-shadow: 0px 3px 10px rgba(0,0,0,.5);
            }
        } 
    } 
}