.browser {

    @media screen and (min-width: 600px) {
        display: flex;
        flex-direction: row;
        .root-container {
            position: relative !important;
            height:100%;
            width: 300px;
            flex-grow: 0;
            flex-shrink: 0;
            overflow: hidden;
            .page-component {
                .title-bar-component {
                    &::after {
                        content: " ";
                        flex-grow: 0;
                        flex-shrink: 0;
                        width: 0px;
                        height: 24px;
                        margin: 16px 0px;
                        border-right: 1px solid #00a2da;
                        border-left: 1px solid #0077bf;
                    }
                }
                >:not(.title-bar) {
                    border-right: 1px solid #eaeaea;
                }
                .page-overlay {
                    display: none;
                }
            }
        }
        .router-container {
            position: relative !important;
            height:100%;
            flex: 1;
            overflow: hidden;
            .page-component:first-child {
                .title-bar-button:first-child {
                    display: none;
                }
            }
        }
    }

    .page-component {
        @keyframes page-slide {
            0% {
                transform: scale(0.5, 0.5) translate(0%, 100%);
            }
            100% {
                transform: scale(1, 1) translate(0%, 0%);
            }
        }
        .page-overlay {
            background: #141414;
        }
    }
    .title-bar {
        height: 48px;
        border-bottom: 1px solid #e0e0e0;
        .title-bar-component {
            height: 48px;
            box-shadow: none;
            > div {
                padding: 12px;
            }
            .title-bar-button {
                width: 48px;
                height: 48px;
            }
            .title-bar-content {
                font-size: 20px;
            }
            &::after {
                margin: 12px 0px !important;
            }
        }
    }
    .modal-component {
        .modal-container {
            margin-top: 50vh;
            transform: translate(0%, -50%);
            animation: zoom-slide-modal-browser .3s ease;
            .title-bar{
                height: 40px;
                .title-bar-component {
                    height: 40px;
                    .title-bar-content {
                        font-size: 18px;
                        padding: 8px 16px;
                    }
                    .title-bar-button {
                        padding: 8px 16px;
                    }
                }
            }
            max-width: 350px;
            max-height: 400px;
            overflow: hidden;
            box-shadow: 0px 3px 10px rgba(0,0,0,.3);
        }
        @keyframes zoom-slide-modal-browser {
            0% {
                transform: scale(0.5, 0.5) translate(0%, 50%);
                opacity: 0;
            }
            100% {
                transform: scale(1, 1) translate(0%, -50%);
                opacity: 1;
            }
        }
    }
}