html, body {
    margin: 0px;
    padding: 0px;
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

//sass function 
@function v($var, $fallback: null) {
    @if($var) {
        @return $var;
    } @else {
        @return $fallback;
    }
}

//sass variable

$primary-bg: linear-gradient(to bottom right, #00A2DA, #0077BF);
$primary-color: #00A2DA;

// title bar
$title-bar-bg: linear-gradient(to bottom right, #00A2DA, #0077BF);
$title-bar-color: white;
$title-bar-height: 56px;
$title-bar-font: "Slate Pro Medium", sans-serif;

// loading
$loading-color: #0077BF;

//modal
$modal-width: none;
$modal-height: none;

//page
$page-bg: white;
$page-pading: 0px;

// sidebar
$sidebar-bg: #0077BF;
$sidebar-width: 280px;
$sidebar-color: #ffffff;

//tabs
$tabs-height: 48px; 

div {
    position: relative;
    box-sizing: border-box;
    // display: flex;
}

button {
    outline: none;
    font-family: 'Slate Pro', sans-serif;
    font-size: 14px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 8px 16px;
    color: black;
    background: linear-gradient(to bottom, #EFEFEF, #E6E6E6);
    border: none;
    flex: 1;
    margin-bottom: 6px;
}

input, textarea {
    box-sizing: border-box;
    padding: 8px 12px;
    border: 1px solid #e0e0e0;
    background: white;
    border-radius: 0px;
    outline: none;
    font-family: 'Slate Pro', sans-serif;
    font-size: 14px;
    flex: 1;
    width: 100%;
    &:focus {
        background: white;
    }
    &:-internal-autofill-selected {
        background: rgb(225, 248, 255) !important;
    }
    &::-webkit-input-placeholder {
        font-style: italic;
        opacity: .5;
    }
    &:-moz-placeholder {
        font-style: italic;
        opacity: .5;
    }
    &::-moz-placeholder {
        font-style: italic;
        opacity: .5;  
    }
    &:-ms-input-placeholder {  
        font-style: italic;
        opacity: .5; 
    }
}

.app {
    display: none;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    .pages-container {
        width: 100%;
        flex: 1;
        .root-container {
            position: static;
        }
        .router-container{
            position: static;
        }
        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: row;
            .root-container {
                position: relative;
                height:100%;
                width: 300px;
                flex-grow: 0;
                flex-shrink: 0;
                overflow: hidden;
                .page-component {
                    .title-bar-component {
                        &::after {
                            content: " ";
                            flex-grow: 0;
                            flex-shrink: 0;
                            width: 0px;
                            height: 24px;
                            margin: 16px 0px;
                            border-right: 1px solid #00a2da;
                            border-left: 1px solid #0077bf;
                        }
                    }
                    > :not(.title-bar) {
                        border-right: 1px solid #e0e0e0;
                    }
                    .page-overlay {
                        display: none;
                    }
                }
            }
            .router-container {
                .page-component:first-child {
                    .title-bar-button:first-child {
                        display: none;
                    }
                }
                position: relative;
                height:100%;
                flex: 1;
                overflow: hidden;
            }
        }
    }
}

@import "./_style/font";
@import "./directives";

// animation animation
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .5;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes zoom-slide {
    0% {
        transform: scale(0.5, 0.5) translate(0%, 50%);
        opacity: 0;
    }
    100% {
        transform: scale(1, 1) translate(0%, 0%);
        opacity: 1;
    }
}

@keyframes zoom {
    0% {
        transform: scale(0, 0);
        opacity: 0;
    }
    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
}

@keyframes page-slide {
    0% {
        transform: translate(100%, 0%);
        opacity: 0;
    }
    100% {
        transform: translate(0%, 0%);
        opacity: 1;
    }
}

@keyframes sidebar-slide {
    0% {
        transform: translate(-100%, 0%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}